html { 
  background: url(../image/rafael.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
	background-color: rgba(161, 158, 157, 0.8);
	color: #fdfdfd/*d8bab4*/;
	padding: 50px;
	height:600px;
	width: 500px;
	text-align: center;
	margin: 0 auto;
/*	font-weight: 500;
*/
}

.profil div{
	float: center;
	text-align: center;
}

.profile_pic {
/*	margin: 20px;
	margin-top: 20px;*/
	height: 200px;
	width: 200px;
	border-radius: 50%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}



.resume div{
	margin-top: 20px;
	float : center;
	text-align: center;
}

.logo {
	font-size: 40px;
}
.logo a {
	color: #fdfdfd;
}